body {
    display: grid;
    justify-content: center;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#intro-screen {
    display: grid;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 2rem;
}

#container {
    display: none;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 2rem;
}

#title,
.turn {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.board {
    display: grid;
    height: 500px;
    width: 500px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
    background-color: black;
}

.Cell {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 4rem;
    border: none;
    background: white;
}

#restart {
    display: none;
    width: 200px;
    height: 50px;
    font-weight: bold;
    font-size: 2rem;
    border: 5px solid gray;
    color: gray;
    border-radius: 15px;
    margin-top: 30px;
    align-self: center;
    justify-self: center;
    transition: 0.5s;
}

#restart:hover {
    border: 5px solid orange;
    color: black;
}